/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-family: 'PT Sans', sans-serif;
  font-size: 140%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #bbdefb;
  color: #fff;
}
body {
  color: rgba(0,0,0,0.87);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.outer-container {
  margin: 0 auto;
}
@media (max-width: 568px) {
  .outer-container {
    width: 100%;
  }
}
@media (min-width: 568px) {
  .outer-container {
    width: 80%;
  }
}
@media (min-width: 1240px) {
  .outer-container {
    width: 60%;
  }
}
.header {
  margin-top: 0;
  text-align: center;
/* 3d stuff prevents half-pixel blurriness*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 250px;
}
.header div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 20px;
}
.header.divider {
  margin-top: 50px;
  height: 100px;
}
.item-container .item {
  width: 100%;
  color: #fefefe;
  display: block;
  text-align: center;
  overflow: hidden;
}
.item-container .item .item-section {
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  max-height: 100px;
  margin-bottom: 25px;
  transition: color 0.3s, background-color 0.5s ease-in, width 0.5s ease-in, padding-left 0.5s ease-in, padding-right 0.5s ease-in, max-height 0.5s 0.5s ease-in, padding-top 0.5s 0.5s ease-in, padding-bottom 0.5s 0.5s ease-in, margin-bottom 0.6s 0.5s ease-in;
}
.item-container .item .item-section.item-label {
  background-color: #2196f3;
  color: #fefefe;
  width: 65%;
  float: left;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  white-space: nowrap;
}
@media (min-width: 820px) {
  .item-container .item .item-section.item-label {
    width: 77.5%;
  }
}
.item-container .item .item-section.item-label:empty:last-child:before {
  content: "Add an item";
  display: block;
}
.item-container .item .item-section.item-label:empty:before {
  content: "Add an item";
  display: block;
}
.item-container .item .item-section.item-tick {
  width: 25%;
  background-color: #00c853;
  float: left;
}
@media (min-width: 820px) {
  .item-container .item .item-section.item-tick {
    width: 15%;
  }
}
.item-container .item .item-section.item-del {
  width: 10%;
  background-color: #1976d2;
  float: left;
}
@media (min-width: 820px) {
  .item-container .item .item-section.item-del {
    width: 7.5%;
  }
}
.item-container .item.empty .item-label {
  width: 100%;
  background-color: #90caf9;
  color: rgba(0,0,0,0.87);
}
.item-container .item.empty .item-tick {
  width: 0;
}
.item-container .item.empty .item-del {
  width: 0;
}
.item-container .item.ticked .item-section {
  max-height: 0;
  padding: 0;
  margin-bottom: 0;
}
.item-container .item.ticked .item-label {
  width: 0;
  padding-right: 0;
  padding-left: 0;
}
.item-container .item.ticked .item-tick {
  width: 100%;
}
.item-container .item.ticked .item-del {
  width: 0;
}
.item-container .item.deleted .item-section {
  max-height: 0;
  padding: 0;
  margin-bottom: 0;
}
.item-container .item.deleted .item-label {
  width: 0;
  padding-right: 0;
  padding-left: 0;
}
.item-container .item.deleted .item-tick {
  width: 0;
}
.item-container .item.deleted .item-del {
  width: 100%;
}
.item-container .item.appear {
  -webkit-animation: itemAppear 0.5s forwards;
}
.item-container .item.disappear {
  -webkit-animation: itemDisappear 0.5s forwards;
}
.item-container#completed-item-container,
.item-container#archived-item-container {
  margin-bottom: 150px;
}
.item-container#completed-item-container .item-section.item-label,
.item-container#archived-item-container .item-section.item-label {
  background-color: rgba(33,150,243,0.5);
  width: 70%;
}
.item-container#completed-item-container .item-section.item-tick,
.item-container#archived-item-container .item-section.item-tick {
  background-color: rgba(0,200,83,0.5);
  width: 20%;
}
.item-container#completed-item-container .item-section.item-tick i:before,
.item-container#archived-item-container .item-section.item-tick i:before {
  content: "\f106";
}
.item-container#completed-item-container .item-section.item-del,
.item-container#archived-item-container .item-section.item-del {
  background-color: rgba(25,118,210,0.5);
  width: 10%;
}
.item-container#completed-item-container .item-section.item-del i.fa.fa-times:before,
.item-container#archived-item-container .item-section.item-del i.fa.fa-times:before {
  content: "\f187";
}
.item-container#completed-item-container .ticked .item-label,
.item-container#archived-item-container .ticked .item-label {
  width: 0;
  padding-right: 0;
  padding-left: 0;
}
.item-container#completed-item-container .ticked .item-tick,
.item-container#archived-item-container .ticked .item-tick {
  width: 100%;
}
.item-container#completed-item-container .ticked .item-del,
.item-container#archived-item-container .ticked .item-del {
  width: 0;
}
.item-container#completed-item-container .deleted .item-label,
.item-container#archived-item-container .deleted .item-label {
  width: 0;
  padding-right: 0;
  padding-left: 0;
}
.item-container#completed-item-container .deleted .item-tick,
.item-container#archived-item-container .deleted .item-tick {
  width: 0;
}
.item-container#completed-item-container .deleted .item-del,
.item-container#archived-item-container .deleted .item-del {
  width: 100%;
}
.archived-items {
  display: none;
}
.archived-items #archived-item-container>.item>.item-section.item-label {
  width: 100%;
}
.archived-items #archived-item-container>.item>.item-section.item-tick {
  width: 0;
}
.archived-items #archived-item-container>.item>.item-section.item-del {
  width: 0;
}
.login-box {
  background-color: #2196f3;
  color: rgba(255,255,255,0.87);
  width: 80%;
  margin: 0 auto 100px;
  padding: 45px;
  max-width: 600px;
}
.login-box label,
.login-box input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  text-align: center;
}
.login-box input {
  background: #bbdefb;
  color: rgba(0,0,0,0.87);
  padding: 10px;
}
.login-box input[type="submit"] {
  background-color: #00c853;
  padding: 15px;
  margin-bottom: 0;
  margin-top: 30px;
  color: rgba(255,255,255,0.87);
}
@media (max-width: 568px) {
  .login-box {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .login-box input {
    width: 100%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
/* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@-moz-keyframes itemAppear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 105px;
  }
}
@-webkit-keyframes itemAppear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 105px;
  }
}
@-o-keyframes itemAppear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 105px;
  }
}
@keyframes itemAppear {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 105px;
  }
}
@-moz-keyframes itemDisappear {
  0% {
    max-height: 105px;
  }
  100% {
    max-height: 0;
  }
}
@-webkit-keyframes itemDisappear {
  0% {
    max-height: 105px;
  }
  100% {
    max-height: 0;
  }
}
@-o-keyframes itemDisappear {
  0% {
    max-height: 105px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes itemDisappear {
  0% {
    max-height: 105px;
  }
  100% {
    max-height: 0;
  }
}
