doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Toodles | aronadler.com

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    link(rel='stylesheet', href='css/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  body
    //if lt IE 8
      p.chromeframe.
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
    
    //- Item template
    mixin itemTemplate(editable, title, id)
      .item(class=(id ? '' : 'empty'), data-item-stored=(id ? 'true' : 'false'), data-item-id=(id ? id : ''))
        .item-section.item-del
          i.fa.fa-times
        .item-section.item-label(contenteditable=editable) #{title}
        .item-section.item-tick
          i.fa.fa-check

    //- Page structure
    .outer-container
      .header
        h1 Toodles
        //- h2= message
        h3#connection-status.connecting Connecting
      #item-container.items-container
        //- Generate open items
        each item in openItems
          +itemTemplate(true, item.title, item.id)
        +itemTemplate(true)


      .header.divider
        h2 Completed
      #completed-item-container.items-container.completed
        //- Generate completed items
        each item in completedItems
          +itemTemplate(false, item.title, item.id)




    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='js/vendor/jquery.mobile.custom.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');